/shelf/
/workspace.xml
pycache/
 *.pyc
.idea
alembic.ini
.env
poetry.lock
app/__pycache__/main.cpython-311.pyc
app/core/__pycache__/__init__.cpython-311.pyc
app/core/__pycache__/config.cpython-311.pyc
app/core/__pycache__/exceptions.cpython-311.pyc
app/internal/__pycache__/files.cpython-311.pyc
app/internal/users/__pycache__/users.cpython-311.pyc
app/models/__pycache__/__init__.cpython-311.pyc
app/internal/__pycache__/chats.cpython-311.pyc
app/models/__pycache__/core.cpython-311.pyc
app/models/__pycache__/general.cpython-311.pyc
app/routes/__pycache__/account.cpython-311.pyc
app/routes/__pycache__/exceptions.cpython-311.pyc
app/routes/__pycache__/files.cpython-311.pyc
app/routes/__pycache__/reviews.cpython-311.pyc
app/routes/chat/__pycache__/chat_associations.cpython-311.pyc
app/routes/chat/__pycache__/chats.cpython-311.pyc
app/schemas/__pycache__/chats.cpython-311.pyc
app/schemas/__pycache__/core.cpython-311.pyc
app/schemas/__pycache__/review.cpython-311.pyc
app/schemas/__pycache__/users.cpython-311.pyc
app/utils/__pycache__/database_connection.cpython-311.pyc
app/utils/__pycache__/factory.cpython-311.pyc
app/utils/__pycache__/json_serialization.cpython-311.pyc
app/utils/__pycache__/log_config.cpython-311.pyc
app/utils/__pycache__/review.cpython-311.pyc
app/utils/__pycache__/utils.cpython-311.pyc
app/utils/auth/__pycache__/passwwords.cpython-311.pyc
migrations/__pycache__/env.cpython-311.pyc
migrations/versions/__pycache__/3d19dc76a7c4_edit_orders.cpython-311.pyc
migrations/versions/__pycache__/6a76974c6872_orders.cpython-311.pyc
migrations/versions/__pycache__/7a5de1721879_edit_orders.cpython-311.pyc
migrations/versions/__pycache__/9a1f4ea60bed_init.cpython-311.pyc
migrations/versions/__pycache__/67f152aab1e3_add_chat.cpython-311.pyc
migrations/versions/__pycache__/bfca37b8bfaa_add_associations_id.cpython-311.pyc
migrations/versions/__pycache__/dfa4992d87b1_add_orders.cpython-311.pyc
migrations/versions/__pycache__/eaf15c1d81b1_edit_orders.cpython-311.pyc
migrations/versions/__pycache__/fb1bbc41159b_add_initial_roles.cpython-311.pyc
app/routes/__pycache__/orders.cpython-311.pyc
app/schemas/__pycache__/order.cpython-311.pyc
app/utils/__pycache__/orders.cpython-311.pyc
migrations/versions/__pycache__/1a0b73ef20ec_ordera.cpython-311.pyc
migrations/versions/__pycache__/9a7a5de9c8c1_ordera.cpython-311.pyc
